@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GTReg";
  src: url("../../public/fonts/GTWalsheimProRegular.woff") format("woff2"),
    url("../../public/fonts/GTWalsheimProRegular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "GTBold";
  src: url("../../public/fonts/GTWalsheimProBold.woff2") format("woff2"),
    url("../../public/fonts/GTWalsheimProBold.woff") format("woff");
  font-display: swap;
}

@layer base {
  html {
    font-family: "GTReg";
    font-size: 100%;
    line-height: 1.8;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: "GTBold";
    @apply mb-8;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-2xl;
  }
  a {
    @apply text-webknit-blue hover:underline;
  }
  .dark a {
    @apply text-white underline hover:underline-offset-2;
  }
  p,
  li {
    @apply mb-4;
  }
}
